%nav.navbar.navbar-fixed-top.navbar-light.bg-faded
  = link_to root_url, class: 'navbar-brand' do
    = image_tag 'busensei.png'
    BuSensei
  %ul.nav.nav-pills.pull-md-right
    %li.nav-item
      = link_to kanjis_path, class: 'nav-link' do
        %span.mdi.mdi-translate
        Proverbs
    -# %li.nav-item
    -#   = link_to comics_path, class: 'nav-link' do
    -#     %span.mdi.mdi-tree
    -#     Comics
    -# %li.nav-item
    -#   = link_to videos_path, class: 'nav-link' do
    -#     %span.mdi.mdi-video
    -#     Videos
