.row
  .col-sm-3
    = image_tag 'bret_tv.jpg', class: 'img-rounded'
  .col-sm-9
    %p
      If you have any corrections, suggestions or just want to chat about kanji, feel free to contact me on:
    %ul.list-unstyled
      %li Twitter: @BuSensei
      %li Facebook: /Bret Mayer
      %li LINE: busensei
      %li Email: busensei(at)gmail(dot)com
.row.text-sm-center
  .col-sm-12
    %p
      ブレットです。漢字ヲタクです。漢字検定一級に加え、全級合格できた。
      %br
      My name is Bret, and I’m a kanji otaku. In addition to achieving level 1 of the Kanji Aptitude Test, I have passed every single level of the test.
    %p
      %br
      %h2 Achievements & Certifications
      %a{:href => "http://busensei.com/wp-content/uploads/2014/01/allcerts.jpg"}
        %img.aligncenter.size-medium.wp-image-879{:alt => "allcerts", :height => "400", :sizes => "(max-width: 600px) 100vw, 600px", :src => "http://busensei.com/wp-content/uploads/2014/01/allcerts-600x400.jpg", :srcset => "http://busensei.com/wp-content/uploads/2014/01/allcerts-600x400.jpg 600w, http://busensei.com/wp-content/uploads/2014/01/allcerts-300x200.jpg 300w, http://busensei.com/wp-content/uploads/2014/01/allcerts-900x600.jpg 900w", :width => "600"}/
.row
  .col-sm-12
    %table.table.table-striped
      %tbody
        %tr
          %td
            %b Japan Kanji Aptitude Test
          %td
            %b 日本漢字能力検定
          %td
        %tr
          %td Japan Kanji Aptitude Test Level 1
          %td 日本漢字能力検定一級
          %td
        %tr
          %td Japan Kanji Aptitude Test Level pre-1
          %td 日本漢字能力検定準一級
          %td
        %tr
          %td Japan Kanji Aptitude Test Level 2
          %td 日本漢字能力検定２級
          %td
        %tr
          %td Japan Kanji Aptitude Test Level pre-2
          %td 日本漢字能力検定準２級
          %td
        %tr
          %td Japan Kanji Aptitude Test Level 3
          %td 日本漢字能力検定３級
          %td
        %tr
          %td Japan Kanji Aptitude Test Level 4
          %td 日本漢字能力検定４級
          %td
        %tr
          %td Japan Kanji Aptitude Test Level 5
          %td 日本漢字能力検定５級
          %td
        %tr
          %td Japan Kanji Aptitude Test Level 6
          %td 日本漢字能力検定６級
          %td
        %tr
          %td Japan Kanji Aptitude Test Level 7
          %td 日本漢字能力検定７級
          %td
            満点！
            %br>/
            Perfect score!
        %tr
          %td Japan Kanji Aptitude Test Level 8
          %td 日本漢字能力検定８級
          %td
            満点！
            %br>/
            Perfect score!
        %tr
          %td Japan Kanji Aptitude Test Level 9
          %td 日本漢字能力検定９級
          %td
            満点！
            %br>/
            Perfect score!
        %tr
          %td Japan Kanji Aptitude Test Level 10
          %td 日本漢字能力検定１０級
          %td
            満点！
            %br>/
            Perfect score!
        %tr
          %td
            %b Other Tests
          %td
            %b その他の資格や試験
          %td
        %tr
          %td Japan Proverb Test Level 2
          %td 諺能力検定２級
          %td
        %tr
          %td Japanese-Language Proficiency Test Level N1
          %td 日本語能力試験レベルN1
          %td
    %table.table
      %tbody
        %tr
          %td Kanji Aptitude Testing Foundation Lifelong Learners Network Member
          %td
            %a{:href => "http://www.kanken.or.jp/lifelong/"}> 漢検生涯学習ネットワーク
            会員
        %tr
          %td –
        %tr
          %td Certified Kanji Instructor (漢字教育士) (Japan Kanji Aptitude Testing Foundation, Ritsumeikan University)
          %td 日本漢字能力検定協会及び立命館大学認定漢字教育士
        %tr
          %td –
        %tr
          %td Selected for Inaugural Year of Kanji Education Supporter Training Course
          %td 漢字教育サポーター養成講座第1期研修生
    %p
      %br
      %h2 ぶ先生 In the Media
      %p
    %br
    %p
      Fridays at 16:45 on Asahi TV “Tobikkiri! Shizuoka” 毎週金曜日、朝日テレビ『とびっきり！静岡』１６：４５より
      %br>/
      Monday mornings at 9:30 on K-MIX “Morning Radzilla”　毎週月曜日、ＫＭＩＸ『モーニングラジラ』９：３０より
    %p
    %table.table
      %tbody
        %tr
          %td
            %b Article/Appearance
          %td
            %b Publication/Outlet
        %tr
          %td
          %td
        %tr
          %td –
        %tr
          %td
            日本語をこよなく愛するアメリカ人にとって、漢字はアート、翻訳は謎解き！
            %br>/
            American Shows Love of Kanji Through Art!
            %br
            %a{:href => "https://www.fellow-academy.com/fellow/pages/tramaga/backnumber/342.jsp"} link
          %td
            トラマガ記事　フェローアカデミー　平成27年4月10日
            %br>/
            Tra-maga Fellow Academy April 10, 2015
        %tr
          %td –
        %tr
          %td
            Bret Mayer: Kanji Master
            %br
            %a{:href => "http://dwl.gov-online.go.jp/video/cao/dl/public_html/gov/book/hlj/20150101/index.html#page=27"} link
          %td
            Noam Katz
            %br>/
            Highlighting Japan #83
        %tr
          %td –
        %tr
          %td
            英字紙で読む日本と世界
            %br>/
            Cool Japan and the World: Reading Newspapers Today
            %br
            %a{:href => "http://www.amazon.co.jp/Cool-Japan-World-Newspapers-%E8%8B%B1%E5%AD%97%E7%B4%99%E3%81%A7%E8%AA%AD%E3%82%80%E6%97%A5%E6%9C%AC%E3%81%A8%E4%B8%96%E7%95%8C/dp/4755303729"} link
          %td
            浦部尚志 (著), 大須賀寿子 (著)
            %br>/
            Takashi Urabe, Hisako Osuga
        %tr
          %td –
        %tr
          %td
            とびっきり！あさひテレビブログ
            %br>/
            Tobikkiri! Blog
            %br>/
            (
            %a{:href => "http://www.satv.co.jp/0300program/0010tobikkiri/0008blog/201412/2014-1215.html"}> link
            )
          %td
            テレビ朝日 平成26年12月15日
            %br>/
            TV Asahi December 15, 2014
        %tr
          %td –
        %tr
          %td
            エル・フォー・ユー・プラス　『大人の漢字検定ツアー』
            %br>/
            L4YOU plus! “A Kanji Kentei Tour through Tokyo”
          %td
            テレビ東京　平成26年 12月2日、9日、16日、23日
            %br>/
            TV Tokyo Dec. 2, 9, 16, 23
        %tr
          %td –
        %tr
          %td
            とびっきり！あさひテレビブログ
            %br>/
            Tobikkiri! Blog
            %br>/
            (
            %a{:href => "http://www.satv.co.jp/0300program/0010tobikkiri/0008blog/201412/2014-1201.html"}> link
            )
          %td
            テレビ朝日 平成26年12月1日
            %br>/
            TV Asahi December 1, 2014
        %tr
          %td –
        %tr
          %td
            とびっきり静岡『ブレット先生の日本語講座』
            %br>/
            Tobikkiri Shizuoka “Bret’s Japanese Class”
            %br>/
            (
            %a{:href => "https://www.youtube.com/watch?v=OXtQjRKBCow"}> 11/28 YouTube
            )
            %br>/
            (
            %a{:href => "https://www.youtube.com/watch?v=3PptZWBIkZE"}> 12/05 YouTube
            )
            %br>/
            (
            %a{:href => "https://www.youtube.com/watch?v=wxe9_M_zPyY"}> 12/12 YouTube
            )
          %td
            テレビ朝日　平成26年 11月28日、12月5日、12日
            %br>/
            TV Asahi Nov. 28, Dec. 5, 12 2014
        %tr
          %td –
        %tr
          %td
            アイム・ジャパン安全衛生大会
            %br>/
            Im Japan Safety and Wellness Conference
          %td
            アイム・ジャパン　ニュース＆ひろば No.123 平成26年10月
            %br>/
            Im Japan News & ひろば October 2014 No.123
        %tr
          %td –
        %tr
          %td
            浜松で紫のオリジナルインク「皇紫（すめらむらさき）」販売－アメリカ人翻訳家が命名
            %br>/
            New Original “Imperial Purple” Ink On Sale–Named by American Translator in Hamamatsu
            %br>/
            (
            %a{:href => "http://hamamatsu.keizai.biz/headline/1185/"}> link
            )
          %td
            浜松経済新聞　平成26年8月12日
            %br>/
            Hamamatsu Keizai Shimbun August 12th, 2014
        %tr
          %td –
        %tr
          %td
            漢字教育士、ブレット・メイヤーさんの活動紹介
            %br>/
            Kanji Instructor, Bret Mayer
            %br>/
            (
            %a{:href => "http://www.zkai.co.jp/ca/kanji/column/column_pre_20140806bret.html"}> link
            )
          %td
            Z会漢字教育士オフィシャルサイト 平成26年8月6日
            %br>/
            Z-KAI Kanji Instructor Official Website August 6th, 2014
        %tr
          %td –
        %tr
          %td
            アメージパング「遠州焼き
            %br>/
            Amazing Japan! Enshuu-fried
          %td
            TBSテレビ　平成26年8月5日
            %br>/
            TBS TV August 5th, 2014
        %tr
          %td –
        %tr
          %td
            万年筆で書くようになって漢字の魅力が深まりました
            %br>/
            Discovering the Charms of Kanji through Fountain Pens
          %td
            趣味の文具箱　平成26年7月4日
            %br>/
            Shumi no Bungu Bako July 4th, 2014
        %tr
          %td –
        %tr
          %td
            とびっきり静岡『超難問！漢検1級合格　スーパー外国人に密着！！』
            %br>/
            Tobikkiri Shizuoka “Spending Time with the Super Foreigner who Passed the Super Difficult Kanji Kentei Level 1!”
            %br>/
            (
            %a{:href => "https://www.youtube.com/watch?v=i_wEdqwnMKY"}> YouTube link
            )
          %td
            静岡朝日テレビ　平成26年7月1日
            %br>/
            Shizuoka Asahi TV July 1st, 2014
        %tr
          %td –
        %tr
          %td
            東京号泣教室『カンジを学ぼう！漢字の成り立ち』
            %br>/
            Tokyo Classroom of Pain”Let’s Learn Kanji! The Structure of Kanji”
          %td
            TOKYO MX 平成26年6月9日
            %br>/
            TOKYO MX June 9th 2014
        %tr
          %td –
        %tr
        %tr
          %td
            アメージパング「浜松初！浜松ならではの猫カフェ「Adagio」
            %br>/
            Amazing Japan! Hamamatsu’s 1st Cat Cafe: Adagio
          %td
            TBSテレビ　平成26年5月28日
            %br>/
            TBS TV May 28th, 2014
        %tr
          %td –
        %tr
          %td
            American shares charms of kanji
            %br
            %a{:href => "http://the-japan-news.com/news/article/0001285698"} link
          %td The Japan News May 18, 2014
        %tr
          %td –
        %tr
          %td
            来日４年漢検１級
            %br>/
            Four Years in Japan, First Level Kanji Kentei
            %br
            %a{:href => "http://busensei.com/?p=762"} link
          %td
            読売新聞　26年5月16日
            %br>/
            Yomiuri Shimbun May 16, 2014
        %tr
          %td –
        %tr
          %td
            〇ごとワイド「和の心を極すごい外国人」漢字検定1級に合格したアメリカ人
            %br>/
            Marugoto Wide “Foreigners with the Heart of Japan” An American who passed Kanji Kentei level 1
            %br>/
            (
            %a{:href => "http://youtu.be/SxsOOt248bU"}> YouTube link
            )
          %td
            静岡だいいちテレビ 26年3月17日
            %br>/
            Shizuoka Daiichi TV March 17, 2014
        %tr
          %td –
        %tr
          %td
            静岡きらり人財　漢検1級突破の「ぶ先生」
            %br>/
            Shining Talent in Shizuoka – Kanji Kentei Level 1 Cracked by “BuSensei”
          %td
            日経新聞 26年3月15日
            %br>/
            Nikkei Shimbun March 15, 2014
        %tr
          %td –
        %tr
          %td
            漢字教育士資格認定講座
            %br>/
            Kanji Instructor Certification Course
            %br>/
            (
            %a{:href => "http://www.zkai.co.jp/ca/kanji/experience/index.html"}> link
            )
          %td
            Z-KAIｘ立命館大学26年3月1日
            %br>/
            Z-KAI x Ritsumeikan University March 1, 2014
        %tr
          %td –
        %tr
          %td
            静岡いい男図鑑
            %br>/
            (
            %a{:href => "http://www.iarchitect.co.jp/ebook/201402/hamamatsu/dbd_ebook_742.swf?page=10"}> link
            )
          %td womo静岡・womo浜松 2月号
        %tr
          %td –
        %tr
          %td
            てっぺん静岡「今年の漢字　ブレットメイヤー　通称「ぶ先生」漢字教育士」
            %br>/
            Teppen Shizuoka “Kanji of the Year with Kanji Instructor Bret “BuSensei” Mayer
            %br>/
            (
            %a{:href => "http://youtu.be/BDyjLP1YO30"}> YouTube link
            )
          %td
            テレビ静岡 25年11月13日
            %br>/
            TV Shizuoka December 11, 2013
        %tr
          %td –
        %tr
          %td
            「これぞ究極の愛！」超難読漢字をスラスラ読み書きする、漢字検定１級に合格したアメリカ人
            %br>/
            “Now, This is Love!” An American who passed Kanji Kentei level 1 and can write and read difficult kanji no problem!
            %br>/
            (
            %a{:href => "http://youtu.be/cJf1IXAupmY"}> YouTube link
            )
          %td
            大阪ほんわかテレビ 25年11月17日
            %br>/
            Osaka Honwaka TV November 17, 2013
        %tr
          %td –
        %tr
          %td
            スーパーニュース「頑張れ！中部の外国人」漢字の先生はアメリカ人
            %br>/
            Super News “Go For It! Chubu-Area Foreigners” An American Kanji Instructor
            %br>/
            (
            %a{:href => "http://youtu.be/bqULBOSjbX8"}> YouTube link
            )
          %td
            テレビ静岡 25年11月12日
            %br>/
            TV Shizuoka November 12, 2013
        %tr
          %td –
        %tr
          %td
            たっぷり静岡「キラキラしずおか人」
            %br>/
            Tappuri Shizuoka “Shining Stars of Shizuoka”
            %br>/
            (
            %a{:href => "http://youtu.be/v7ByCeIMO9M"}> YouTube link
            )
          %td NHK静岡 25年10月24日
        %tr
          %td –
        %tr
          %td
            Bret Mayer ’04 first foreigner to earn top certification in Japanese kanji
            %br>/
            (
            %a{:href => "http://www.gettysburg.edu/news_events/press_release_detail.dot?id=3453649"}> link
            )
          %td Gettysburg College website
        %tr
          %td –
        %tr
          %td
            I love 日本語「魅力カンジて」
            %br>/
            I love Japanese — Draw out your love of Japanese with kanji
            %br>/
            (
            %a{:href => "http://busensei.com/?p=688"}> English translation
            )
          %td
            中日新聞 25年10月03日
            %br>/
            Chunichi Shimbun October 3rd, 2013
        %tr
          %td
            (
            %a{:href => "http://www.chunichi.co.jp/article/shizuoka/20131004/CK2013100302000262.html"}> Chunichi Web
            )
            %br>/
            (
            %a{:href => "http://www.tokyo-np.co.jp/article/national/news/CK2013100502000228.html"}> Tokyo Shimbun Web
            )
            %p
        %tr
          %td –
        %tr
          %td
            5年間の旅の終わり、ライフワークの始まり。
            %br>/
            A 5-Year Journey Ends, A Lifelong Journey Begins
            %br>/
            (
            %a{:href => "http://www.kanken.or.jp/kanken/success/rank_1/work/detail_r1_work_15.html"}> link
            ) ・ (
            %a{:href => "http://busensei.com/?p=682"}> English translation
            )
          %td Kanji Aptitude Test Foundation website
        %tr
          %td –
        %tr
          %td
            初めて一級に合格しました！
            %br
            My First Time Passing Level 1!
            %br>/
            (
            %a{:href => "http://www.kanken.or.jp/kanken/lifelong/news.html"}> link
            ) ・ (
            %a{:href => "http://busensei.com/?p=677"}> English translation
            )
          %td
            漢検生涯学習ネットワーク会員通信Vol.10
            %br>/
            KanKen Lifelong Learners Network Newsletter Vol.10
        %tr
          %td –
        %tr
          %td
            漢字先生は米国人・・・ラジオで解説、メイヤーさん
            %br>/
            This Kanji Teacher is an American・・・
            %br>/
            Mr. Mayer Explains Kanji on the Radio
            %br>/
            (
            %a{:href => "http://www.yomiuri.co.jp/national/news/20130701-OYT1T00219.htm"}> link
            ) ・ (
            %a{:href => "http://busensei.com/?p=653"}> English translation
            )
          %td
            読売新聞　平成25年07月01日
            %br>/
            Yomiuri Shimbun July 1, 2013
        %tr
          %td –
        %tr
          %td
            平成24年度第2回日本漢字能力検定1級合格者発表
            %br>/
            Pass List for the 2nd Round of the Japan Kanji Aptitude Test for the Year 2012
          %td
            漢検ジャーナルVol.9
            %br>/
            KanKen Journal Vol. 9
        %tr
          %td –
        %tr
          %td
            月曜　トーク・ラジラのゲスト！！
            %br>/
            Monday’s Talk Radzilla Guest!!
            %br>/
            (
            %a{:href => "http://www.k-mix.co.jp/radzilla/2013/04/post-12.html"}> link
            ) ・ (
            %a{:href => "http://busensei.com/?p=509"}> English translation
            )
          %td
            K-MIX静岡エフエムモーニングラジラブログ 平成25年04月22日
            %br>/
            K-MIX Morning Radzilla Blog, Apr. 22nd, 2013
        %tr
          %td –
        %tr
          %td
            漢感興起
            %br>/
            The Joy of Kanji
            %br>/
            (
            %a{:href => "http://www.kanken.or.jp/kanken/lifelong/data/lifelong_news_vol8.pdf"}> link
            ) ・ (
            %a{:href => "http://busensei.com/?p=434"}> English translation
            )
          %td
            漢検生涯学習ネットワーク会員通信 Vol.8
            %br>/
            Kanji Kentei Lifelong Learners Network Newsletter Vol. 8
        %tr
          %td –
        %tr
          %td
            漢字は、アート！
            %br>/
            Kanji is Art!
            %br>/
            (
            %a{:href => "http://blog.k-mix.co.jp/personality/2013/01/post-7887.html"}> link
            ) ・ (
            %a{:href => "http://busensei.com/?p=418"}> English translation
            )
          %td
            K-MIXパーソナリティブログ 平成25年01月15日
            %br>/
            K-MIX Personality Blog, Jan. 15, 2013
        %tr
          %td –
        %tr
          %td
            キャラポケクローズアップ
            %br>/
            Caramel Pocket Close Up
            %br>/
            (
            %a{:href => "http://busensei.com/?p=408"}> link
            )
          %td
            K-MIX静岡FM 平成25年01月15日
            %br>/
            K-MIX Shizuoka FM, Jan. 15, 2013
        %tr
          %td –
        %tr
          %td
            浜松の翻訳家メイヤーさん・漢検1級に合格
            %br>/
            Hamamatsu Area Translator, Mr. Mayer, Passes Kanji Aptitude Test Level 1
            %br>/
            (
            %a{:href => "http://busensei.com/?p=398"}> English translation
            )
          %td
            静岡新聞　平成25年01月08日
            %br>/
            Shizuoka Shimbun, Jan. 8th, 2013
        %tr
          %td –
        %tr
          %td
            誤りの種から、笑いの花が咲く
            %br
            From Errors, Bloom Smiles
            %br>/
            (
            %a{:href => "http://www.kanken.or.jp/kanken/lifelong/data/lifelong_news_vol7.pdf"}> link
            ) ・ (
            %a{:href => "http://busensei.com/?p=386"}> English translation
            )
          %td
            漢検生涯学習ネットワーク会員通信Vol.7
            %br>/
            KanKen Lifelong Learners Network Newsletter Vol.7
        %tr
          %td –
        %tr
          %td
            漢検と私
            %br>/
            “The KanKen & Me”
            %br>/
            (
            %a{:href => "http://busensei.com/?p=135"}> link
            )
          %td
            読売新聞　平成23年12月18日
            %br>/
            Yomiuri Shimbun, Dec. 18th, 2011
        %tr
          %td –
        %tr
          %td
            何があろうと1級まで挑戦して“必ず”合格する！
            %br>/
            I’m Going to Pass Level 1–No Matter What!
            %br>/
            (
            %a{:href => "http://www.kanken.or.jp/kanken/success/rank_j1/work/detail_rj1_work_01.html"}> link
            ) ・ (
            %a{:href => "http://busensei.com/?p=131"}> English translation
            )
          %td Kanji Aptitude Test Foundation website
        %tr
          %td
