.row.text-sm-center
  .col-sm-12
    %h1 Comprehensive database for high-level Kanji
    -# %br
    -# .kanji-list
    -#   - @kanjis.each do |kanji|
    -#     = link_to kanji.word, kanji
    -# .kanji-list
    -#   - @videos.each do |kanji|
    -#     %span= kanji.title
    -# .kanji-list
    -#   - @comics.each do |kanji|
    -#     %span= kanji.title
