%h1
  %span.mdi.mdi-shuffle
  Ateji
%p
  All my study materials for KanKen1, KotoKen, etc. It's all just sorta dumped in here at the moment. Working on organization!
  %br
  漢検やこと検などの勉強資料の保管場所です。必死に整理整頓をやっていますので、ご了承ください。
= render partial: 'results', locals: { items: @items }
