html, body
  height: 100%

body
  background: asset_url('busensei.png'), $gray-lighter
  background-repeat: no-repeat
  font-weight: 200
  background-blend-mode: soft-light
  background-position: -10rem -5rem
  padding-top: 3.5rem

.navbar-brand
  font-weight: 400
  img
    height: 1em
    display: inline-block
    margin-top: -.3em

.navbar-fixed-top.bg-faded
  background: transparentize($gray-lightest, 0.2)

.navbar-light .navbar-brand
  color: rgba(255, 255, 255, 0.8)
  &:hover
    color: white

// Sticky footer
.wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -5.5rem
  padding-top: 2rem

.footer,
.push
  height: 2.5rem

#flash
  position: fixed
  top: 1rem
  left: 1rem
  right: 1rem
  z-index: 9999

.delay
  transition-delay: 1s

::selection
  background: $brand-primary
  color: $gray-dark

[type="checkbox"],
[type="radio"]
  margin-right: .5em

.mdi:before,
.mdi-set
  font-size: 1em

img
  max-width: 100%

.breadcrumb
  margin-bottom: 0rem

a:hover .card
  color: $gray-dark

.superpencil
  .tag-secondary
    background-color: #FCE400
    color: #774701
    font-family: "Avenir Next", "Avenir", "Helvetica", "Arial", sans-serif
    font-weight: bold

  img
    width: 17px
    margin-right: -2px
    margin-top: -1px
